body {
 background-image : url("bg.jpg");
 background-size : fixed;
}

figure {
 position: relative;
 left: 100px;
}

#h1 {
 text-align : center;
 position: relative;
 top: -170px;
 left: 5px:
 boder: 10px solid white ;
 padding: 5px:
 width: 300px;
 background-color: white;
 margin-left: 360px;
 margin-right: 100px;
 border-radius: 5px 5px 0px 0px ;
 opacity: 0.9;
}

div {
 text-align : center;
 font-family : tahoma, verdana, sans-serif;
 position: relative;
 top: -192px;
 left: 5px:
 boder: 10px solid white ;
 padding: 5px:
 width: 300px;
 background-color: white;
 margin-left: 360px;
 margin-right: 100px;
 border-radius: 0px 0px 5px 5px ;
 opacity: 0.9;
 }

nav {
 position: relative;
 top: -150px;
 margin-left: 360px;
 margin-right: 100px;
}

p.D {
 text-align : center;
 font-family : baskerville, times new roman, serif;
}

p.secA {
 color: black;
 font-family : tahoma, verdana, sans-serif;
 text-align : center;
 boder: 5px solid darkblue;
 border-radius: 0px 0px 5px 5px ;
 padding: 50px:
 width: 300px;
 background-color: white;
 margin-left: 100px;
 margin-right: 400px;
 margin-bottom: 100px;
 position: relative;
 bottom:140px;
 left: 5px:
 width: 400px;
 height: 650px;
}

h2.secA {
 color: darkblue;
 text-align : center;
 font-family : palatino, georgia, serif;
 border:5px solid darkblue;
 border-radius: 5px 5px 0px 0px;
 padding: 5px;
 background-color: white;
 margin-left: 100px;
 margin-right: 400px;
 position: relative;
 bottom: 120px;
 height: 30px; 
}

p.secB {
 color: black;
 font-family : tahoma, verdana, sans-serif;
 text-align : center;
 boder: 5px solid darkblue;
 border-radius: 0px 0px 5px 5px ;
 padding: 50px:
 width: 300px;
 background-color: white;
 margin-left: 100px;
 margin-right: 400px;
 margin-bottom: 100px;
 position: relative;
 bottom:840px;
 left: 5px:
 width: 400px;
 height: 200px;
}

h2.secB {
 color: darkblue;
 text-align : center;
 font-family : palatino, georgia, serif;
 border:5px solid darkblue;
 border-radius: 5px 5px 0px 0px;
 padding: 5px;
 background-color: white;
 margin-left: 100px;
 margin-right: 400px;
 position: relative;
 bottom: 820px;
 height: 30px; 
}

p.secC {
 color: black;
 font-family : tahoma, verdana, sans-serif;
 text-align : center;
 boder: 5px solid darkblue;
 border-radius: 0px 0px 5px 5px ;
 padding: 50px:
 width: 300px;
 background-color: white;
 margin-left: 100px;
 margin-right: 400px;
 margin-bottom: 100px;
 position: relative;
 bottom:940px;
 left: 5px:
 width: 400px;
 height: 150px;
}

h2.secC {
 color: darkblue;
 text-align : center;
 font-family : palatino, georgia, serif;
 border:5px solid darkblue;
 border-radius: 5px 5px 0px 0px;
 padding: 5px;
 background-color: white;
 margin-left: 100px;
 margin-right: 400px;
 position: relative;
 bottom: 920px;
 height: 30px; 
}

p.artA {
 color: darkblue
 font-family : tahoma, verdana, sans-serif;
 text-align : center;
 boder: 5px solid royalblue;
 border-radius: 0px 0px 5px 5px ;
 padding: 5px:
 width: 300px;
 background-color: white;
 margin-left: 950px;
 margin-right: 50px;
 margin-bottom: 30px;
 position: relative;
 bottom: 1310px;
 left: 5px:
 width: 200px;
 height: 100px;
}

h2.artA {
 color: darkblue;
 text-align : center;
 font-family : palatino, georgia, serif;
 border:5px solid darkblue;
 border-radius: 5px 5px 0px 0px;
 padding: 5px;
 background-color: white;
 margin-left: 950px;
 margin-right: 50px;
 position: relative;
 bottom: 1290px;
 height: 30px; 
}

p.as {
 color: darkblue
 font-family : tahoma, verdana, sans-serif;
 text-align : center;
 boder: 5px solid royalblue;
 border-radius: 0px 0px 5px 5px ;
 padding: 5px:
 width: 300px;
 background-color: white;
 margin-left: 950px;
 margin-right: 50px;
 margin-bottom: 30px;
 position: relative;
 bottom: 960px;
 left: 5px:
 width: 200px;
 height: 600px;
}

h2.as {
 color: darkblue;
 text-align : center;
 font-family : palatino, georgia, serif;
 border:5px solid darkblue;
 border-radius: 5px 5px 0px 0px;
 padding: 5px;
 background-color: white;
 margin-left: 950px;
 margin-right: 50px;
 position: relative;
 bottom: 940px;
 height: 30px; 
}

video {
 margin-left: 950px;
 margin-right: 50px;
 position: relative;
 bottom: 1780px;
 
}

footer {
 text-align : center;
 position: relative;
 bottom: 1400px;
 left: 5px:
 boder: 10px solid white ;
 padding: 5px:
 width: 300px;
 background-color: white;
 margin-left: 100px;
 margin-right: 100px;
 border-radius: 5px 5px 5px 5px ;
 opacity: 0.9;
 }

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 border-radius: 5px 5px 5px 5px ;
}

@media (max-width: 1020px) {
  body {   
    flex-direction: column;
  }

@media (max-width: 768px) {
  body {   
    flex-direction: column;
  }

@media (max-width: 375px) {
  body {   
    flex-direction: column;
  }